<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <div>
            <p>
                Dear {{contact_name}},
            </p>
            <p>
                You have successfully registered for an account with Zyllion.
            </p>
            <p>
                We appreciate you choosing Zyllion to fulfill your accounting augtomation needs!
            </p>
            <p>
            To complete the process, <a href="https://app.zyllion.co/signin" >Sign In</a> using the email and password you registered with and finish the setup steps!
            </p>

            <p>
            <p style="text-align: center">
                <a href="https://app.zyllion.co/signin" style="padding: 10px 16px; font-size: 18px; line-height: 1.33; border-radius: 6px 6px 6px 6px; color: rgb(255, 255, 255); background-color: rgb(66, 139, 202); border-color: rgb(53, 126, 189); display: inline-block; margin-bottom: 0px; font-weight: normal; text-align: center; white-space: nowrap; vertical-align: middle; cursor: pointer; border: 1px solid transparent; text-decoration: none" target="_blank">Sign In</a>
            </p>
            <br />
            <br />
            <p>
                Sincerely, <br /> The Zyllion Team <br /> www.zyllion.co
            </p>
        </div>
    </body>
</html>