{% load i18n %}{% autoescape off %}
{% block reset_link %}
{% blocktrans %}So, you forgot your password. If you requested your password be reset, click the link below to choose a new one:{% endblocktrans %}
{{ protocol }}://zyllion.co/{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% trans "If you didn't mean to reset your password, this email can be ignored and your password will not change" %}
{% trans "password will not change" %}

{% blocktrans %}The Zyllion team{% endblocktrans %}

{% endautoescape %}